body{
    font-family: sans-serif;
    margin: 0;
    background-image: url("img/4.jpg");
    background-color: darkgray;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment:scroll;
}    
a{
    text-decoration: none;
    color:black
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(156, 75, 75);
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:white;
}


@media (max-width:700){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
